.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7),url(/content/images/logo.png));
  background-position: center;
  background-size: cover;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
}

h2, h3, h4, p, a {
  margin: 15px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: coral;
}

main {
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: darkolivegreen;
}

